// Dashboard
// ===

@import '../../styles/variables.global';

.root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 16px;

    background: $secondary-color;
}

.title {
    color: rgba($neutral-10, 0.85);
    font-weight: normal;
    font-size: $font-size - 4;
}

.body {
    display: flex;
    overflow: scroll;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex: 1 1 auto;
}

.prompter {
    width: 100%;
    max-width: 100%;
    padding: $unit*2;
}

.nav {
    padding: $unit $unit*2;

    background: $neutral-55;
}
