// Button
// ===

@import '../../styles/variables.global';


// Root
// ---

.root {
    composes: justifyCenter alignCenter from '../../styles/utilities/flexbox.scss';
    composes: none from '../../styles/utilities/margin.scss';
    composes: none from '../../styles/utilities/border.scss';
    composes: transparent from '../../styles/utilities/background.scss';
    composes: appearanceNone from '../../styles/utilities/general.scss';
    composes: minTapSize from '../../styles/utilities/dimension.scss';
    composes: inline from '../../styles/utilities/table.scss';
    composes: inherit from '../../styles/utilities/text.scss';

    &:focus {
        outline: 0;
    }

    &:focus .inner,
    &:focus .inner::before {
        color: $focus-color;
    }

    &[disabled] {
        opacity: 0.2;
    }
}


// Inner
// ---

.inner {
    composes: flex alignCenter from '../../styles/utilities/flexbox.scss';

    &::before,
    &::after {
        content: '>';

        display: block;
        flex: 0 0 auto;
        padding-right: $unit*1.5;

        color: transparent;
    }
}
