.root {
    display: inline-table;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    padding: 0;
    border: 0;

    background: transparent;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    -webkit-appearance: none;
}

.root:focus {
    outline: 0;
}

.root .inner::before {
    content: '>';

    display: block;
    flex: 0 0 auto;
    padding-right: 12px;

    color: transparent;
}

.root:focus .inner,
.root:focus .inner::before {
    color: rgba(0, 255, 255, 0.85);
}

.root[disabled] {
    opacity: 0.2;
}

.inner {
    display: flex;
    align-items: center;
}
