* {
    box-sizing: border-box;
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    -webkit-app-region: drag;
}

body {
    position: relative;

    background: #343a47;

    color: #c0c5ce;
    font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace, serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    font-weight: bold;
    font-size: 18px;
    letter-spacing: -.025em;
}

li {
    list-style: none;
}

a {
    opacity: .75;

    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 1;

    text-decoration: none;

    cursor: pointer;
}

dl {
    margin: 0;
}

dd + dt {
    padding: 16px 0 0;
}

p {
    margin: 0 0 16px;
}
